@font-face {
    font-family: 'Minecraft';
    src: url('./assets/fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    background-color: #002A1E;
    margin: 0;
    overflow-y: hidden;
  }

  body {
    font-family: 'Minecraft', sans-serif;
  }
  